.info {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.info__block {
  background-color: rgb(241, 241, 241);
  padding: 8px;
  border-radius: 8px;
  width: auto;
}

.info__title {
  margin: 0;
  font-size: 1.1em;
  width: 100px;
}

.info__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.info__value {
  font-size: 1.5em;
  margin: 5px;
}

.info__icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}
