.period-toggle {
  background-color: rgb(209, 175, 218);
  display: flex;
  border-radius: 6px;
  width: 75%;
  justify-content: center;
}

.period-toggle:hover {
  cursor: pointer;
}

.period-toggle__option {
  margin: 3px;
  font-family: inherit;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  width: 50%;
  font-size: 1em;
}

.period-toggle__option:hover {
  cursor: pointer;
}

.period-toggle__option--selected {
  background-color: rgb(255, 255, 255);
}
