.task-day {
  margin: 5px 0;
}

.task-day__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-day__see-all {
  font-family: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
}

.task-day__see-all:hover {
  cursor: pointer;
}

.task-day__name {
  margin: 0;
}
