<form class="new-task-form">
  <div class="new-task-form__item">
    <label for="task-name">Task Name:</label>
    <input class="new-task-form__input" name="task-name" />
  </div>
  <div class="new-task-form__item">
    <label for="time">Hours:</label>
    <input class="new-task-form__input new-task-form__time" name="hours" />
  </div>
  <div class="new-task-form__item">
    <label for="time">Minutes:</label>
    <input class="new-task-form__input new-task-form__time" name="minutes" />
  </div>
  <div class="new-task-form__item">
    <label for="time">Seconds:</label>
    <input class="new-task-form__input new-task-form__time" name="seconds" />
  </div>
  <div class="new-task-form__item">
    <label for="category">Category:</label>
    <select name="category" class="new-task-form__select">
      <option value="work">Work</option>
      <option value="personal">Personal</option>
      <option value="workout">Workout</option>
    </select>
  </div>
  <div class="new-task-form__item">
    <label for="priority">Priority:</label>
    <select name="priority" class="new-task-form__select">
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="laptop_wdgxmp">Low</option>
    </select>
  </div>
  <input type="submit" class="new-task-form__submit" />
</form>
