<div class="buttons">
  <RoundButton class="round-button round-button__nav">
    <img
      src="https://res.cloudinary.com/space48/image/upload/v1637842127/time_r2npkx.png"
    />
  </RoundButton>
  <RoundButton class="round-button round-button__new"
    ><img
      src="https://res.cloudinary.com/space48/image/upload/v1637928486/plus_1_dhpkk9.png"
  /></RoundButton>
  <RoundButton class="round-button round-button__nav">
    <img
      src="https://res.cloudinary.com/space48/image/upload/v1637852180/pie-chart_nccigm.png"
    />
  </RoundButton>
</div>
