@import "components/incomplete-task.pcss";
@import "components/running-task.pcss";
@import "components/tasks-page.pcss";
@import "components/task-day.pcss";

body {
  font-size: 16px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
