.infoblock {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: thistle;
  border-radius: 5px;
}

.infoblock__top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.infoblock__icon {
  margin-left: 10px;
}

.infoblock__title {
  margin-left: 10px;
  text-align: left;
  font-size: 12pt;
}

.infoblock__bottom {
  margin-left: 20px;
  margin-right: 20px;
}

.infoblock__info {
  margin-block-start: 0;
}
